.imgCarrito{
    max-width: 100px;
    max-height: 100px;
}
.item{
    height: 100px;
    display: grid;
    grid-template-columns: 0.7fr 0.8fr 0.6fr 1fr 1fr;
    gap: 20px;
    padding: 15px;
    background-color: white;
    border: 1px white solid;
    border-bottom: 1px solid rgb(80, 168, 168);
}

.itemSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carritoListado{
    box-shadow: 5px 5px 12px 0px rgb(80, 168, 168);
    margin: 0px 20px 35px 20px;
}

.confirmButton{
    text-decoration: none;
    border-radius: 25;
    padding: 10px;
    background: rgb(80, 168, 168);
    border-radius: 8px;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    font-size: larger;
}